/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


/*Fonts*/
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-sans {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}